.navbar-brand{
    width: auto;
    background-color: #A4CABC;
    color: #57496A;
}

.navbar ul li a {
    color:#57496A;
}

.navbar ul li a:hover{
    color:#B2473E;
    text-decoration: none;
}

.navbar-nav {
    display: inline-block;
}

.navbar-nav>li {
    display: inline-block;
}

.navbar{
    background-color: #A4CABC;
}

