/*
    purple: #8D77AB
    yellow: #FEBD59
    light yellow: #ffd38f
    blue:
    green: #A4CABC
    red: #ffd38f
*/

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

body > #root > div {
    padding:0;
    margin:0;

    top:0;
    left:0;

    min-height: -webkit-fill-available;
    min-width: 100vw;

    overflow: hidden;
}

div.mainbodyClassic
{
    padding:0;
    margin:0;

    top:0;
    left:0;

    min-width: 100vw;
    min-height: 100vh;

    position: absolute;

    background-color: #57496A;
}

div.mainbodyArchive
{
    padding:0;
    margin:0;

    top:0;
    left:0;

    min-width: 100vw;
    min-height: 100vh;

    position: absolute;

    background-color: #FEBD59;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-container{
    width:30%;
    max-width:100%;
    margin:10% auto;
}
.login-container h2{
    text-align:center;
    font-size:20px;
    color: #FEBD59;
}

.login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
.navbar-brand{
    width: auto;
    background-color: #A4CABC;
    color: #57496A;
}
.navbar-brand:hover{
    color:#B2473E;
}

.nav-item {
    color:#57496A;
}

.nav-item:hover{
    color:#B2473E;
}

.navbar{
    background-color: #A4CABC;
}

a.sub:link {
    color: #FEBD59;
}
a.sub:visited {
    color: #ffd38f;
}
a.sub:hover {
    color: #ffd38f;
}

a.subArchive:link {
    color: #57496A;
}
a.subArchive:visited {
    color: rgb(78, 66, 95);
}
a.subArchive:hover {
    color: rgb(78, 66, 95);
}

.panel-title{
    color: #fff;
}
th{
    color:#A4CABC;
}

td{
    color: #fff;
}

input, text, label{
    color:  #A4CABC;
}

.background-classic {
    background-color: #57496A;
    width: 100%;
    height: 100%;
}

.background-archive {
    background-color: #FEBD59;
}
