.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-container{
    width:30%;
    max-width:100%;
    margin:10% auto;
}
.login-container h2{
    text-align:center;
    font-size:20px;
    color: #FEBD59;
}

.login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
.navbar-brand{
    width: auto;
    background-color: #A4CABC;
    color: #8D77AB;
}
.navbar-brand:hover{
    color:#B2473E;
}

.nav-item {
    color:#8D77AB;
}

.nav-item:hover{
    color:#B2473E;
}

.navbar{
    background-color: #A4CABC;
}
.link{
    color: #FEBD59;
}

.link:hover{
    color: #ffd38f;
}

.panel-title{
    color: #fff;
}
th{
    color:#A4CABC;
}

td{
    color: #fff;
}

input, text, label{
    color:  #A4CABC;
}

.background-classic {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.background-archive {
    background-color: #A4CABC;
}
