.show-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(max-content, 20px);
    grid-gap: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 16px;
    padding-top: 8px;
    line-height: normal;
    color: #FEBD59;
    text-decoration: none;
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.4);
}

.show-grid > div.show-description{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow-y: scroll;
    border-bottom: 2px solid #A4CABC;
    text-align: center;
}

.show-grid > div.show-description-info{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow-y: scroll;
    border-bottom: 2px solid #A4CABC;
}

.show-grid > div.show-guardian{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow-y: scroll;
    border-bottom: 2px solid #A4CABC;
    text-align: center;
}

.show-grid > div.show-guardian-info{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow-y: scroll;
    border-bottom: 2px solid #A4CABC;
}

.show-grid > div.show-nextguardian{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    overflow-y: scroll;
    border-bottom: 2px solid #A4CABC;
    text-align: center;
}

.show-grid > div.show-nextguardian-info{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    overflow-y: scroll;
    border-bottom: 2px solid #A4CABC;
}

.show-grid > div.show-images{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    border-bottom: 2px solid #A4CABC;
}

.show-grid > div.show-map{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    min-height: 40vh;
    max-height: 40vh;
}

.show-images > div.gallery {
    max-height: 40vh;
    max-width: 80vw;
}

#root > div > div > div:nth-child(1) > div.container > div > div.show-images > dd > div > div.Gesture-view > div > div > div {
    max-height: 50vh;
}

#root > div > div > div:nth-child(1) > div.container {
    height: 100vh;
}

#root > div > div > div:nth-child(1) > div.container > div > div.show-map > div > div {
    max-height: 50vh !important;
}

#root > div > div > div:nth-child(1) > div.container.show-container > div > div.show-map > div {
    max-height: 100%;
    position: relative !important;
}

#root > div > div:nth-child(1) > div.container.show-container > div.show-grid > div.show-map > div {
    max-height: 100%;
    position: relative !important;
}