ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 50px;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    background-color: rgb(72, 61, 87);
    border-radius: 4px;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.4);
}

div.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 16px;
    width: 100%;
    padding: 6px;
    text-transform: uppercase;
    line-height: normal;
    color: #FEBD59;
    text-decoration: none;
}

.timeline-row {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    border-top: 1px solid #A4CABC;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 16px;
    padding-top: 8px;
    line-height: normal;
    color: #FEBD59;
    text-decoration: none;
}

.timeline-row > div.left-image{
    grid-column-start: 1 ;
    grid-column-end: 2;
}

.timeline-row > div.right-text{
    grid-column-start: 2;
    grid-column-end: 6;
    overflow-y: scroll;
    text-decoration: none;
}

ul.timeline > li.a.float-right {
    padding-right: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #A4CABC;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}